@keyframes slide {

from {
    transform:translateY(-300px) ;
}

to {
    transformY:translateY(0px) ;
}

}


body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(240, 240, 193);;
    
    
}

h1 {
    text-align: center;
    background-color: aqua;
    width: auto auto;
    border-radius: 20px;
    padding: 8px;

    animation: slide 0.8s ease 0s 1 normal ;
}


.intro-div {
    padding:10px;
    height: 330px;
    background-color:rgb(250, 249, 249);
}

.sign {
    margin: 22px 15px;
    float: right;
    background-color: aqua;
    border: none;
    height: 25px;
   
}

.sign a {
    text-decoration-line: unset;
    transition: all 1s;
   
}

.sign:hover {
    transform: translateY(-5px);
}

.sign:hover {
    background-color: rgb(0, 233, 233);
    transition: 0.9s; 
}

.sign:active {
    background-color: rgb(255, 255, 255);
    
}

